**/*~
**/.DS_STORE
*.mp4
**/node_modules
**/npm-debug.log*
**/dist
**/dist-test
**/dist-prod
**/dist-stage
**/build
**/build-test
**/build-prod
**/build-stage
**/.awcache
**/logs
*.log
**/report.html
report.html
/server/data/*
!public-html
public-html/*
!public-html/common/
webpack.gen
**/*credentials.json
build
package-lock.json
